<%- include('_header'); -%>
<body>
    <div class="container">
        <form action='/pass_reset' method="post" class="pass_reset_form" name="pass_reset_form"">
            <div class="form-group">
                <div class="row">
                    <label for="name">ニックネーム:</label>
                    <div class="col-sm-3">
                        <input type="text" id='name' name="name" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="username">ログインID:</label>
                    <div class="col-sm-3">
                        <input type="text" id='username' name="username" value="<%= user_data[0].username %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="password">パスワード:</label>
                    <div class="col-sm-3">
                        <input type="password" id="password" name="password" class="form-control" required>    
                    </div>
                </div>
            </div>
            <button id="entry_submit" type="submit" class="btn btn-primary submit">パスワードリセット</button>
            
        </form>    
    </div>
</body>